body { overflow-x: hidden;
       font-family: Junction;
       font-size: 1.25em;
       font-weight: 300;
       line-height: 1.5; }

em { font-weight: 400;
     font-style: normal; }
strong { font-weight: 700; }

h1 { font-size: 1.5em;
     line-height: 1;
     margin: 0;
     margin-top: 1.5em;
     font-weight: 400; }

h1:first-child { margin-top: 0; }
p:first-child { margin-top: 0; }

h2 { font-size: 1.25em;
     line-height: 1;
     margin: 0;
     margin-top: 1em;
     font-weight: 400; }


li { margin-bottom: 0.5em; }


a { color: inherit;
    text-decoration: none;
    border-bottom: 1px solid; }

       .project-inner a { border-bottom: 2px solid; }
.white .project-inner a { border-bottom: 2px solid; }

a:hover { color: #2eabe2; }

.gradient { height: 100%;
            color: white;
           background: rgba(0,0,0,0.2);
           background: -webkit-linear-gradient(top,
rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.225) 75%, rgba(0,0,0,0.6));
           background: -moz-linear-gradient(top,
rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.225) 75%, rgba(0,0,0,0.6));
           background: -ms-linear-gradient(top,
rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.225) 75%, rgba(0,0,0,0.6));
           background: -o-linear-gradient(top,
rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.225) 75%, rgba(0,0,0,0.6)); }

.white.gradient { height: 100%;
                  color: black;
            background: rgba(255,255,255,0.2);
            background: -webkit-linear-gradient(top,
rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 66%, rgba(255,255,255,0.225) 75%, rgba(255,255,255,1));
            background: -moz-linear-gradient(top,
rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 66%, rgba(255,255,255,0.225) 75%, rgba(255,255,255,1));
            background: -ms-linear-gradient(top,
rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 66%, rgba(255,255,255,0.225) 75%, rgba(255,255,255,1));
            background: -o-linear-gradient(top,
rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 66%, rgba(255,255,255,0.225) 75%, rgba(255,255,255,1)); }


#page { width: 100%;
        background: white;
        padding-right: 0.5em; }

#content { max-width: 28em;
           margin: 0 auto;
           padding-top: 1em;
           padding-right: 1.5em;
           padding-left: 1.5em;
           padding-bottom: 0;}

hr { height: 0.5em;
     width: 100%;
     margin: 0;
     border: 0;
     margin-top: 0.5em;
     background: black; }

#lens { height: 28em;
        width: 100%;
        padding-right: 0.5em; }

#title { height: 3em;
         width: 9.333em;
         max-width: 90%;
         font-size: 3em;
         font-weight: 700;
         color: white;
         line-height: 1;
         margin: 0 auto;
         padding-top: 6.25em;
         padding-bottom: 0.333em;
         padding-left: 0.333em;
         padding-right: 0.333em; }

#title.white { color: black; }

#header { z-index: -1;
          position: fixed;
          top: 0;
          left: 0;
          height: 28em;
          width: 100%;
          padding-right: 0.5em;
          background-size: cover;
          background-position: center; }

.project-outer { position: relative;
                 height: 21em;
                 background-size: cover;
                 background-position: center;
                 color: white;
                 margin-left: -1.5em;
                 margin-right: -2em; }

.white.project-outer { color: black; }

.project-inner { position: absolute;
                 bottom: 0;
                 padding-left: 1.5em;
                 padding-right: 2em;
                 padding-bottom: 0.75em; }

.date::before { content: " / ";
                font-weight: 400;
                font-size: 1em;
                padding-left: 0.375em;
                padding-right: 0.125em; }

.date { font-weight: 400;
        font-size: 0.66em; }

.place { font-weight: 400;
         font-size: 0.75em;
         text-transform: uppercase;
         padding-right: 0.5em; } /* changed from 0.3 */

@media only screen and (min-width: 320px) and (max-width: 640px) {
    #content { max-width: 42em; }
    hr { margin-left: -1.5em;
         padding-left: 3.5em; }
    #title { width: 14em;
             padding-top: 4.125em; }
    #lens { height: 22em; }
    #header { height: 22em; }                                     }
